<!DOCTYPE html>
<html lang="zxx">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <title>ACLAV - Asociación de Clubes Liga Argentina de Voleibol</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Asociación de Clubes Liga Argentina de Voleibol">
  <meta name="author" content="ACLAV">
  <meta name="keywords" content="Asociación de Clubes Liga Argentina de Voleibol">

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="assets/images/favicons/favicon.ico">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/favicon-120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/favicon-152.png">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

  <!-- Google Web Fonts
  ================================================== -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CSource+Sans+Pro:400,700" rel="stylesheet">

  <!-- CSS
  ================================================== -->
  <!-- Preloader CSS -->
  <link href="assets/css/preloader.css" rel="stylesheet">

  <!-- Estilos Videos-->
    <script src="sliderengine/jquery.js"></script>
    <script src="sliderengine/amazingslider.js"></script>
    <link rel="stylesheet" type="text/css" href="sliderengine/amazingslider-1.css">
    <script src="sliderengine/initslider-1.js"></script>

  <!-- Vendor CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/fonts/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <link href="assets/vendor/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="assets/vendor/slick/slick.css" rel="stylesheet">

  <!-- Template CSS-->
  <link href="assets/css/content.css" rel="stylesheet">
  <link href="assets/css/components.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">

  
  
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

  <!-- Custom CSS-->
  <link href="assets/css/custom.css" rel="stylesheet">
  <link href="assets/css/carousel.css" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>




</head>
<body class="template-voleibol">

  <div class="site-wrapper clearfix">
    <div class="site-overlay"></div>



    <!-- Header
    ================================================== -->
  
    <!-- Header Mobile -->
    <div class="header-mobile clearfix" id="header-mobile">
      <div class="header-mobile__logo">
        <a href="index.html"><img src="assets/images/logo.png" srcset="assets/images/logo@2x.png 2x" alt="ACLAV" class="header-mobile__logo-img"></a>
      </div>
      <div class="header-mobile__inner">
        <a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
        
      </div>
    </div>
  
    <!-- Header Desktop -->
    <header class="header">
          
      <!-- Header Secondary -->
      <div class="header__secondary">
        <div class="container">          
        <!-- Header Logo -->
            <div class="header-logo">
              <a href="index.html"><img src="assets/images/logo.png" alt="ACLAV" srcset="assets/images/logo@2x.png 2x" class="header-logo__img"></a>
            </div>
            <!-- Header Logo / End --> 
        </div>
      </div>
      <!-- Header Secondary / End -->
  
      <!-- Header Primary -->
      <div class="header__primary">
        <div class="container">
          <div class="header__primary-inner">  
            <!-- Main Navigation -->
            <nav class="main-nav clearfix">
              <ul class="main-nav__list">
                <li class=""><a href="#">Competencias</a>
                  <ul class="main-nav__sub">
                    <li><a href="calendario.html">Liga Argentina de Voleibol</a></li>
                    <li><a href="calendario.html">Copa Argentina</a></li>
                    <li><a href="calendario.html">Copa ACLAV</a></li>
                    <li><a href="calendario.html">Presudamericano</a></li>
                    <li><a href="calendario.html">Copa Desafio</a></li>
                    <li><a href="calendario.html">Copa Master</a></li>
                  </ul>
                </li>
                <li class=""><a href="#">Equipos</a>
                  <ul class="main-nav__sub">
                    <li><a href="participantes.html">Participantes</a></li>
                    <li><a href="estadios.html">Estadios</a></li>
                  </ul>
                </li>
                <li class=""><a href="jugadores.html">Estadisticas</a></li>

                <li class=""><a href="#">Noticias</a>
                  <ul class="main-nav__sub">
                    <li><a href="noticias.html">Noticias</a></li>
                    <li><a href="entrevistas.html">Entrevistas</a></li>
                    <li><a href="especial.html">Especiales</a></li>
                    <li><a href="social.html">ACLAV Social</a></li>                 
                    </ul>
                </li>
                
                <li class=""><a href="#">Multimedia</a>
                  <ul class="main-nav__sub">
                    <li><a href="galerias.html">Fotogalerias</a></li>
                    <li><a href="descargas.html">Descargas</a></li>
                    <li><a href="videos.html">Videos</a></li>                  
                    </ul>
                </li>
                <li class=""><a href="#">Institucional</a>
                  <ul class="main-nav__sub">
                    <li><a href="historia.html">Historia</a></li>
                    <li><a href="autoridades.html">Autoridades ACLAV</a></li>
                    <li><a href="staff.html">Staff ACLAV</a></li>
                    <li><a href="sponsor.html">Sponsors</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                  </ul>
                </li></ul>
                <!-- Social Links -->
              <ul class="social-links social-links--inline social-links--main-nav">
                <li class="social-links__item">
                  <a href="https://www.facebook.com/VoleyACLAV" target="_new" class="social-links__link" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-links__item">
                  <a href="https://twitter.com/VoleyACLAV" target="_new" class="social-links__link" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-links__item">
                   <a href="https://www.instagram.com/voleyaclav/" class="social-links__link" target="_new" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="social-links__item">
                   <a href="https://www.youtube.com/user/VoleyACLAV" class="social-links__link" target="_new" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a>
                </li>
              </ul>
            
              <!-- Social Links / End -->

            </nav>
            <!-- Main Navigation / End -->
          </div>
        </div>
      </div>
      <!-- Header Primary / End -->
  
    </header>
    <!-- Header / End -->
  
    <!-- Pushy Panel -->
    <aside class="pushy-panel">
      <div class="pushy-panel__inner">
        <header class="pushy-panel__header">
          <div class="pushy-panel__logo">
            <a href="index.html"><img src="assets/images/logo.png" srcset="assets/images/logo@2x.png 2x" alt="Alchemists"></a>
          </div>
        </header>
        
      </div>
    </aside>
    <!-- Pushy Panel / End -->
    
  

    
    

    <!-- Content
    ================================================== -->
    <div class="site-content">
      <div class="container">

        <div class="row">


          <!-- Content -->
          <div class="content col-md-8">

<div class="card card--has-table">
          <div class="card__header card__header--has-btn">
            <h4>Seleccione Temporada</h4>
            <!-- Result Filter -->
            <ul class="team-result-filter">
              <li class="team-result-filter__item">
                <select class="form-control input-xs">
                  <option>Temp. 2016 - 2017</option>
                  <option>Temp. 2014 - 2015</option>
                  <option>Temp. 2012 - 2013</option>
                </select>
              </li>

              <li class="team-result-filter__item">
                <select class="form-control input-xs">
                  <option>A1 Masculina</option>
                  <option>A2 Masculina</option>
                  <option>A1 Femenina</option>
                </select>
              </li>


              <li class="team-result-filter__item">
                <select class="form-control input-xs">
                  <option>Copa Master</option>
                  <option>Copa Desafio</option>
                  <option>Presudamericano</option>
                  <option>Copa ACLAV</option>
                  <option>Copa Argentina</option>
                  <option>Liga Argentina de Voley</option>
                </select>
              </li>
              
              <li class="team-result-filter__item">
             <a href="#" class="btn btn-default btn-xs">Acceder</a>
            </li>
            </ul>
            <!-- Result Filter / End -->
            
          </div>
          
        </div>
        <br><br>
            <!-- Posts List -->
           
            <!-- Posts List / End -->

            <!-- Post Pagination -->
            
            <!-- Post Pagination / End -->
            

          </div>
          <!-- Content / End -->

          <!-- Sidebar -->
          <div id="sidebar" class="sidebar col-md-4">
            <aside class="widget widget--sidebar card widget-popular-posts">
              <div class="widget__title card__header">
                <h4><img src="assets/images/banner003.png"></h4>
              </div>
            </aside>
            <aside class="widget widget--sidebar card widget-popular-posts">
              <div class="widget__title card__header">
                <h4><img src="assets/images/banner003.png"></h4>
              </div>
            </aside>
            <!-- Widget: Standings -->
            <aside class="widget card widget--sidebar widget-standings">
              <div class="widget__title card__header card__header--has-btn">
                <h4><p>Liga Argentina de Voleibol</p></h4>
              </div>
              <div class="widget__content card__content">
                <div class="table-responsive">
                  <table class="table table-hover table-standings">
                    <thead>
                      <tr>
                        <th><p>Posiciones</p></th>
                        <th><b>PTS</p></th>
                        <th><p>G</p></th>
                        <th><p>P</p></th>
                        <th><p>J</p></th>                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/001.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name"><p>Personal Bolivar</p></h6>
                            </div>
                          </div>
                        </td>
                        <td><span class="glossary__abbr"><font size=4>48</font></span></td>
                        <td><p>36</p></td>
                        <td><p>14</p></td>
                        <td><p>10</p></td>                        
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/002.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h5 class="team-meta__name"><p>Ciudad Voley</p></h5>
                            </div>
                          </div>
                        </td>
                        <td><span class="glossary__abbr"><font size=4>46</font></span></td>
                        <td><p>20</p></td>
                        <td><p>8</p></td>
                        <td><p>104</p></td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/003.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name"><p>UPCN San Juan Voley</p></h6>
                            </div>
                          </div>
                        </td>
                        <td><span class="glossary__abbr"><font size=4>47</font></span></td>
                        <td><p>21</p></td>
                        <td><p>7</p></td>
                        <td><p>103</p></td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/004.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name"><p>Lomas Voley</p></h6>
                            </div>
                          </div>
                        </td>
                        <td><span class="glossary__abbr"><font size=4>46</font></span></td>
                        <td><p>20</p></td>
                        <td><p>10</p></td>
                        <td><p>100</p></td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/005.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name"><p>Gigantes del Sur</p></h6>
                            </div>
                          </div>
                        </td>
                        <td><span class="glossary__abbr"><font size=4>36</font></span></td>
                        <td><p>24</p></td>
                        <td><p>8</p></td>
                        <td><p>92</p></td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/006.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name"><p>Obras UDAP Voley</p></h6>
                            </div>
                          </div>
                        </td>
                        <td><span class="glossary__abbr"><font size=4>33</font></span></td>
                        <td><p>24</p></td>
                        <td><p>9</p></td>
                        <td><p>90</p></td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/007.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name"><p>Alianza Jesus Maria</p></h6>
                            </div>
                          </div>
                        </td>
                        <td><span class="glossary__abbr"><font size=4>28</font></span></td>
                        <td><p>28</p></td>
                        <td><p>7</p></td>
                        <td><p>82</p></td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/008.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name"><p>River Plate</p></h6>
                            </div>
                          </div>
                        </td>
                        <td><span class="glossary__abbr"><font size=4>25</font></span></td>
                        <td><p>30</p></td>
                        <td><p>6</p></td>
                        <td><p>78</p></td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/009.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name"><p>Deportivo Moron</p></h6>
                            </div>
                          </div>
                        </td>
                        <td><span class="glossary__abbr"><font size=4>25</font></span></td>
                        <td><p>30</p></td>
                        <td><p>6</p></td>
                        <td><p>78</p></td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/010.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name"><p>Untref Voley</p></h6>
                            </div>
                          </div>
                        </td>
                        <td><span class="glossary__abbr"><font size=4>24</font></span></td>
                        <td><p>30</p></td>
                        <td><p>6</p></td>
                        <td><p>78</p></td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/011.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name"><p>PSM Voley</p></h6>
                            </div>
                          </div>
                        </td>
                        <td><span class="glossary__abbr"><font size=4>20</font></span></td>
                        <td><p>30</p></td>
                        <td><p>6</p></td>
                        <td><p>78</p></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </aside>
            <aside class="widget widget--sidebar card widget-popular-posts">
              <div class="widget__title card__header">
                <h4><img src="assets/images/banner003.png"></h4>
              </div>
            </aside>
            <aside class="widget widget--sidebar card widget-popular-posts">
              <div class="widget__title card__header">
                <h4><img src="assets/images/banner003.png"></h4>
              </div>
            </aside>
            <!-- Widget: Twitter -->
            <aside class="widget widget--sidebar card widget-twitter">
              <div class="widget__title card__header">
                <h4><p>Twitter</p></h4>
              </div>
              <div class="widget__content card__content">
                <ul>
                  <a class="twitter-timeline"  href="https://twitter.com/VoleyACLAV"  data-widget-id="487689182769192960">Tweets por @VoleyACLAV</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </ul>
              </div>
            </aside>
            <!-- Widget: Twitter / End -->

            <!-- Widget: Featured Player - Alternative Extended -->
            <aside class="widget card widget--sidebar widget-player widget-player--alt">
              <div class="widget__title card__header">
                <h4><p>Jugador de la Fecha</p></h4>
              </div>
                <h4><img src="assets/images/jugador.png"></h4>
             </aside>
            <!-- Widget: Featured Player - Alternative Extended / End -->

            <!-- Widget: Popular News -->
            <aside class="widget widget--sidebar card widget-popular-posts">
              <div class="widget__title card__header">
                <h4><img src="assets/images/samples/banner002.jpg"></h4>
              </div>
            </aside>
            <aside class="widget widget--sidebar card widget-popular-posts">
              <div class="widget__title card__header">
                <h4><img src="assets/images/banner003.png"></h4>
              </div>
            </aside>
            
            <!-- Widget: Popular News / End -->
            </div>
          <!-- Sidebar / End -->
        </div>

        <!-- Video Slideshow -->
        
            <!-- Carousel / End -->

          </div>
        </div>
        <!-- Video Slideshow / End -->

      </div>
    </div>

    <!-- Content / End -->

     <!-- Footer
    ================================================== -->

    <footer id="footer" class="footer">
    
      <!-- Footer Widgets -->
      <div class="footer-widgets">
 
<!-- Sponsors -->        
          <div class="sponsors">
            <ul class="sponsors-logos">
              <li class="sponsors__item">
                <a href="#"><img src="assets/images/samples/sponsor-001.png" alt=""></a>
              </li>
              <li class="sponsors__item">
                <a href="#"><img src="assets/images/samples/sponsor-002.png" alt=""></a>
              </li>
              <li class="sponsors__item">
                <a href="#"><img src="assets/images/samples/sponsor-003.png" alt=""></a>
              </li>
              <li class="sponsors__item">
                <a href="#"><img src="assets/images/samples/sponsor-004.png" alt=""></a>
              </li>
              <li class="sponsors__item">
                <a href="#"><img src="assets/images/samples/sponsor-005.png" alt=""></a>
              </li>
              <li class="sponsors__item">
                <a href="#"><img src="assets/images/samples/sponsor-006.png" alt=""></a>
              </li>
              <li class="sponsors__item">
                <a href="#"><img src="assets/images/samples/sponsor-007.png" alt=""></a>
              </li>
              <li class="sponsors__item">
                <a href="#"><img src="assets/images/samples/sponsor-008.png" alt=""></a>
              </li>
              <li class="sponsors__item">
                <a href="#"><img src="assets/images/samples/sponsor-009.png" alt=""></a>
              </li>
              <li class="sponsors__item">
                <a href="#"><img src="assets/images/samples/sponsor-010.png" alt=""></a>
              </li>
              <li class="sponsors__item">
                <a href="#"><img src="assets/images/samples/sponsor-011.png" alt=""></a>
              </li>
            </ul>
          </div>        
<!-- Sponsors / End --> 

        <div class="footer-widgets__inner">
          <div class="container">
            <div class="row">            
              <!-- comienzo columna 1 de 4 -->
              <div class="col-sm-4 col-md-3">
                <div class="footer-col-inner">                  
                  <div class="footer-logo">
                    <a href="index.html"><img src="assets/images/logo-footer.png" srcset="assets/images/logo@2x.png 2x" alt="ACLAV" class="footer-logo__img"></a>
                  </div>                    
                </div>
              </div>
              <!-- fin columna 1 de 4 -->              
              <!-- comienzo columna 2 de 4 -->
              <div class="col-sm-4 col-md-3">
                <div class="footer-col-inner">                  
                  <div class="widget widget--footer widget-popular-posts">                    
                    <div class="widget__content" align="center">                          
                            <li class="social-links__item">
                              <a href="https://www.facebook.com/VoleyACLAV" target="_new" class="social-links__link"><i class="fa fa-facebook"></i> Facebook</a>
                            </li>
                            <li class="social-links__item">
                              <a href="https://twitter.com/VoleyACLAV" target="_new" class="social-links__link"><i class="fa fa-twitter"></i> Twitter</a>
                            </li>
                            <li class="social-links__item">
                              <a href="https://www.youtube.com/user/VoleyACLAV" target="_new" class="social-links__link"><i class="fa fa-youtube"></i> Youtube</a>
                            </li>      
                            <br>                      
                            <li class="social-links__item">
                              <a href="https://www.instagram.com/voleyaclav/" target="_new" class="social-links__link"><i class="fa fa-instagram"></i> Instagram</a>
                            </li>
                            <li class="social-links__item">
                              <a href="mailto:info@aclav.com" class="social-links__link"><i class="fa fa-envelope"></i> Email</a>
                            </li>
                            <li class="social-links__item">
                              <a href="http://www.aclav.com/login" target="_new" class="social-links__link"><i class="fa fa-home"></i> Sistema &nbsp; &nbsp; &nbsp;</a>
                            </li>                                                 
                    </div>
                  </div>                  
                </div>
              </div>
              <!-- fin columna 2 de 4 -->              
              <!-- comienzo columna 3 de 4 -->
              <div class="col-sm-4 col-md-3">
                <div class="footer-col-inner">                  
                  <div class="widget widget--footer widget-instagram">                    
                    <div class="widget__content">                      
                      <div class="footer-copyright"><a href="mailto:info@aclav.com"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; info@aclav.com</a></div>
                      <div class="footer-copyright"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp; +54 9 11 4783-5010</div>
                    </div>
                  </div>                                  
                </div>
              </div>
              <!-- fin columna 3 de 4 -->              
              <!-- comienzo columna 4 de 4 -->
              <div class="col-sm-4 col-md-3">
                <div class="footer-col-inner"> 
                  <div class="widget widget--footer widget-instagram">                    
                    <div class="widget__content">                      
                      <div class="footer-copyright"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Echeverria 1444 Ep. Of. 40 C.A.B.A.</div>
                      <div class="footer-copyright"><a href="index.html">ACLAV.com</a>  2017 | <i class="fa fa-copyright" aria-hidden="true"></i> Todos los derechos reservados.</div>
                    </div>
                  </div>                      
                </div>
               </div>
               <!-- fin columna 4 de 4 -->
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Widgets / End -->    
    </footer>
    <!-- Footer / End --> 
    
   
    
    
  </div>

  <!-- Javascript Files
  ================================================== -->
  <!-- Core JS -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/js/core-min.js"></script>
  
  <!-- Vendor JS -->
  <script src="assets/vendor/twitter/jquery.twitter.js"></script>
  
  
  <!-- Template JS -->
  <script src="assets/js/init.js"></script>
  <script src="assets/js/custom.js"></script>
  
  </body>
  </html>