<!-- jQuery library (served from Google) -->
<script src="http://aclav.datachost.com/public/assets/estilosweb/slider/jquery.min.js"></script>
<!-- bxSlider Javascript file -->
<script src="http://aclav.datachost.com/public/assets/estilosweb/slider/jquery.bxslider.min.js"></script>
<!-- bxSlider CSS file -->
<link href="http://aclav.datachost.com/public/assets/estilosweb/slider/jquery.bxslider.css" rel="stylesheet" />

<ul class="bxslider">
  <li><img src="http://aclav.datachost.com/public/assets/estilosweb/slider/images/trees.jpg" /></li>
  <li><img src="http://aclav.datachost.com/public/assets/estilosweb/slider/images/tree_root.jpg" /></li>
  <li><img src="http://aclav.datachost.com/public/assets/estilosweb/slider/images/houses.jpg" /></li>
  <li><img src="http://aclav.datachost.com/public/assets/estilosweb/slider/images/hill_road.jpg" /></li>
  <li><img src="http://aclav.datachost.com/public/assets/estilosweb/slider/images/me_trees.jpg" /></li>
  <li><img src="http://aclav.datachost.com/public/assets/estilosweb/slider/images/hill_trees.jpg" /></li>
  <li><img src="http://aclav.datachost.com/public/assets/estilosweb/slider/images/mountain.jpg" /></li>
  <li><img src="http://aclav.datachost.com/public/assets/estilosweb/slider/images/houses.jpg" /></li>
</ul>


<script type="text/javascript">
$('.bxslider').bxSlider({
  minSlides: 3,
  maxSlides: 4,
  slideWidth: 170,
  slideMargin: 10
});
</script>


